<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gabilheri.insuringmylife"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >
        <activity
            android:name="com.gabilheri.insuringmylife.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gabilheri.insuringmylife.LoginActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.InitialActivity"
            android:label="@string/title_activity_initial"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UpdateProfileActivity"
            android:label="@string/title_activity_new_profile"
            android:parentActivityName="com.gabilheri.insuringmylife.InitialActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gabilheri.insuringmylife.InitialActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.CarActivity"
            android:label="@string/title_activity_car"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gabilheri.insuringmylife.InitialActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.VehiclesActivity"
            android:label="@string/title_activity_vehicles"
            android:parentActivityName="com.gabilheri.insuringmylife.CarActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="CarActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.HouseActivity"
            android:label="@string/title_activity_house"
            android:parentActivityName="com.gabilheri.insuringmylife.InitialActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gabilheri.insuringmylife.InitialActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.AboutAAA"
            android:label="@string/title_activity_about_aa"
            android:parentActivityName="com.gabilheri.insuringmylife.InitialActivity"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="InitialActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.NewVehicle"
            android:label="@string/title_activity_new_vehicle"
            android:parentActivityName="com.gabilheri.insuringmylife.VehiclesActivity"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="VehiclesActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.QuoteActivity"
            android:label="@string/title_activity_quote"
            android:parentActivityName="com.gabilheri.insuringmylife.CarActivity"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="CarActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.ForgotLogin"
            android:label="@string/title_activity_forgot_login"
            android:parentActivityName="com.gabilheri.insuringmylife.LoginActivity"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="LoginActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.QuizActivity"
            android:label="@string/title_activity_quiz"
            android:parentActivityName="com.gabilheri.insuringmylife.InitialActivity"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="InitialActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.ViewQuizzes"
            android:label="@string/title_activity_view_quizzes"
            android:parentActivityName="com.gabilheri.insuringmylife.InitialActivity"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="InitialActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.QuizzResult"
            android:label="@string/title_activity_quizz_result"
            android:parentActivityName="com.gabilheri.insuringmylife.ViewQuizzes"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ViewQuizzes" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.MyAgent"
            android:label="@string/title_activity_my_agent"
            android:parentActivityName="com.gabilheri.insuringmylife.CarActivity"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="CarActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.HealthActivity"
            android:label="@string/title_activity_health"
            android:screenOrientation="portrait"
            android:parentActivityName="com.gabilheri.insuringmylife.InitialActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gabilheri.insuringmylife.InitialActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.ReportClaim"
            android:label="@string/title_activity_report_claim"
            android:screenOrientation="portrait"
            android:parentActivityName="com.gabilheri.insuringmylife.InitialActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gabilheri.insuringmylife.InitialActivity" />
        </activity>
    </application>

</manifest>
