<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gabilheri.insuringmylife"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >
        <activity
            android:name="com.gabilheri.insuringmylife.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName="com.gabilheri.insuringmylife.LoginActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="LoginActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.InitialActivity"
            android:label="@string/title_activity_initial"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.UpdateProfileActivity"
            android:label="@string/title_activity_new_profile"
            android:parentActivityName="com.gabilheri.insuringmylife.InitialActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gabilheri.insuringmylife.InitialActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.CarActivity"
            android:label="@string/title_activity_car"
            android:parentActivityName="com.gabilheri.insuringmylife.InitialActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gabilheri.insuringmylife.InitialActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.VehiclesActivity"
            android:label="@string/title_activity_vehicles"
            android:parentActivityName="com.gabilheri.insuringmylife.CarActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="CarActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.HouseActivity"
            android:label="@string/title_activity_house"
            android:parentActivityName="com.gabilheri.insuringmylife.InitialActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gabilheri.insuringmylife.InitialActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.AboutAAA"
            android:label="@string/title_activity_about_aa"
            android:parentActivityName="com.gabilheri.insuringmylife.InitialActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="InitialActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.NewVehicle"
            android:label="@string/title_activity_new_vehicle"
            android:parentActivityName="com.gabilheri.insuringmylife.VehiclesActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="VehiclesActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.VehicleQuoteActivity"
            android:label="@string/title_activity_quote"
            android:parentActivityName="com.gabilheri.insuringmylife.CarActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="CarActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.QuizActivity"
            android:label="@string/title_activity_quiz"
            android:parentActivityName="com.gabilheri.insuringmylife.InitialActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="InitialActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.ViewQuizzes"
            android:label="@string/title_activity_view_quizzes"
            android:parentActivityName="com.gabilheri.insuringmylife.InitialActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="InitialActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.QuizzResult"
            android:label="@string/title_activity_quizz_result"
            android:parentActivityName="com.gabilheri.insuringmylife.ViewQuizzes"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ViewQuizzes" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.MyAgent"
            android:label="@string/title_activity_my_agent"
            android:parentActivityName="com.gabilheri.insuringmylife.CarActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="CarActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.HealthActivity"
            android:label="@string/title_activity_health"
            android:parentActivityName="com.gabilheri.insuringmylife.InitialActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gabilheri.insuringmylife.InitialActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.ReportVehicleClaim"
            android:label="@string/title_activity_report_claim"
            android:parentActivityName="com.gabilheri.insuringmylife.ReportClaims"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gabilheri.insuringmylife.InitialActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.QuoteValueActivity"
            android:label="@string/title_activity_quote_value"
            android:parentActivityName="com.gabilheri.insuringmylife.CarActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="CarActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.ForgotPassword"
            android:label="@string/title_activity_forgot_password"
            android:parentActivityName="com.gabilheri.insuringmylife.LoginActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="LoginActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.AfterClaim"
            android:label="@string/title_activity_after_claim"
            android:parentActivityName="com.gabilheri.insuringmylife.InitialActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="InitialActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.ViewClaims"
            android:label="@string/title_activity_view_claims"
            android:parentActivityName="com.gabilheri.insuringmylife.CarActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="CarActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.ViewHouses"
            android:label="@string/title_activity_view_houses"
            android:parentActivityName="com.gabilheri.insuringmylife.HouseActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="HouseActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.NewHouse"
            android:label="@string/title_activity_new_house"
            android:parentActivityName="com.gabilheri.insuringmylife.ViewHouses"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ViewHouses" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.ReportClaims"
            android:label="@string/title_activity_report_claims"
            android:parentActivityName="com.gabilheri.insuringmylife.InitialActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="InitialActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.ReportHouseClaim"
            android:label="@string/title_activity_report_house_claim"
            android:parentActivityName="com.gabilheri.insuringmylife.ReportClaims"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ReportClaims" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.ReportHealthClaim"
            android:label="@string/title_activity_report_health_claim"
            android:parentActivityName="com.gabilheri.insuringmylife.ReportClaims"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ReportClaims" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.HouseQuote"
            android:label="@string/title_activity_house_quote"
            android:parentActivityName="com.gabilheri.insuringmylife.HouseActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="HouseActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.ViewFamilyMembers"
            android:label="@string/title_activity_family_members"
            android:parentActivityName="com.gabilheri.insuringmylife.HealthActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="HealthActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.HealthQuote"
            android:label="@string/title_activity_health_quote"
            android:parentActivityName="com.gabilheri.insuringmylife.HealthActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="HealthActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.NewFamilyMember"
            android:label="@string/title_activity_new_famiy_member"
            android:parentActivityName="com.gabilheri.insuringmylife.ViewFamilyMembers"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="FamilyMembers" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.Information"
            android:label="@string/title_activity_information"
            android:parentActivityName="com.gabilheri.insuringmylife.InitialActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="InitialActivity" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.AboutInsuringMyLife"
            android:label="@string/title_activity_about_insuring_my_life"
            android:parentActivityName=".InitialActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Information" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.SafetyInfo"
            android:label="@string/title_activity_safety_info"
            android:parentActivityName="com.gabilheri.insuringmylife.Information" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Information" />
        </activity>
        <activity
            android:name="com.gabilheri.insuringmylife.InsuInfo"
            android:label="@string/title_activity_insu_info"
            android:parentActivityName="com.gabilheri.insuringmylife.Information" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Information" />
        </activity>
    </application>

</manifest>
